ADMIN_MANAGEMENT_PORT=9310
ADMIN_MANAGEMENT_WEB_PORT=5174
KVM_ORCHESTRATOR_URL=http://localhost:8500
KVM_ORCH_TOKEN=
KVM_REQUEST_TIMEOUT_MS=12000
KVM_REQUEST_RETRIES=2
HOST_METRICS_CACHE_MS=90000
HOST_METRICS_CONCURRENCY=4
ONECEO_API_URL=http://localhost:4000
ONECEO_REQUEST_TIMEOUT_MS=10000
ONECEO_REQUEST_RETRIES=1
ADMIN_MANAGEMENT_CORS_ORIGIN=http://localhost:5174
